body {
    margin: auto;
    text-align: center;
}

.list {
    font-family: sans-serif;
}

table {
    margin: auto;
}

td,
th {
    padding: 10px;
    border: solid 1px #eee;
}

input {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 14px;
    margin-bottom: 10px;
    width: 30%;
}

input:focus {
    outline: none;
    border-color: #aaa;
}