{% extends 'base.html' %}

{% block header %}
<div class='title'>
    <h1>Search Result for {{ audio_name }}</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</div>
{% endblock %}

{% block content %}
{% if music_res_list %}

<div id="songs">
    <input class="search" placeholder="Search" />
    <table>
        <tbody class="list">
            <tr>
                <th>name</th>
                <th>artist</th>
                <th>source</th>
                <th>detail</th>
            </tr>
            {% for music in music_res_list %}
            </tr>
            <td class="name">{{ music.name }}</td>
            <td class="ar">{{ music.ar }}</td>
            <td class="source">{{ music.source }}</td>
            <td class="detail">
                <a href="/api/detail?id={{ music.id }}&platform={{ music.source }}">detail - {{ music.id }}</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>
<script>
    var options = {
        valueNames: ['name', 'ar', 'source']
    };

    var userList = new List('songs', options);
</script>

{% endif %}
{% endblock %}